body {
  font-family: Lucida Sans, Liberation Sans, Helvetica, Arial, sans;
  background-color: #99240d; }

#head {
  color: #ffffdf; }
  #head h1 {
    display: inline; }

#stuff {
  background-color: #fff;
  color: #0f0f1f;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  border: 1px solid #ffffdf; }
