<html>
	<head>
		<title>Insert Blog Here</title>
		<style type="text/css">
			<!--
				@import url('style.css');
			-->
		</style>
	</head>
	<body>
		<div id="box">
			<div id="topBar">
				<h1><a href="http://baguette.github.com/">Insert Blog Here</a></h1>
				<a name="top"></a>
				<span id="subtitle"><em>A periodic loaf of baguette.</em></span>
			</div>
			<br style="clear: both" />
			<div id="content">
				{{ content }}
			</div>
			<div id="footer" class="center">
				<a href="#top">Back to top</a>
			</div>
		</div>
	</body>
</html>

